html {
  height: 100%;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
  user-select: none;
  background-color: #fff;
  font-family: arial, sans-serif;
}

table {
  padding:0;
  margin: auto;
  font-size: 12px;
  user-select: none;
  border-spacing: 0 25px;
  background-color: #fff;
  font-family: arial, sans-serif;
}

table tr td {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  width: 100%;
  margin: auto;
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: justify;
  font-family: arial, sans-serif;
}

input {
  padding: 0;
  margin: 1px;
  outline: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  transition: 100ms ease all;
  border: solid 1px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
}

input[type="button"] {
  padding: 0;
  color: #555;
  outline: none;
  font-size: 22px;
  max-width: 120px;
  max-height: 120px;
  box-sizing: border-box;
  font-family: monospace;
  width: calc(100vw / 3 - 9px);
  height: calc(100vw / 3 - 9px);
}

input[value="0"] {
  color: #fff;
  background-color: #CE5200;
}

.info, .button {
  height: 48px;
  line-height: 48px;
  display: inline-block;
  font-family: arial,sans-serif;
}

.info {
  float: left;
  text-align: left;
}

.button {
  float: right;
  text-align: center;
}

.info label {
  padding: 0;
  color: #555;
  font-size: 12px;
}

.info input, .button input {
  margin: 0;
  padding: 0;
  color: #555;
  height: 100%;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}

.info input {
  border: none;
  outline: none;
  color: #ce5200;
  max-width: 64px;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  text-indent: 5px;
  margin-top: -2px;
  font-family: monospace;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
}

.button input {
  width: 120px;
  text-align: center;
  font-size: 12px !important;
  font-family: arial, sans-serif;
}

.button input {
  background-color: rgba(0,0,0,0.05);
}

.container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.description {
  color: #555;
  max-width: 366px;
  line-height: 18px;
  padding: 15px 0 0 0;
  background-color: #fff;
  border-top: solid 1px rgba(0,0,0,0.1);
}

.tile {
  padding: 0;
  text-align: center;
}

.tile div {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.controls {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

.neighbor {
  cursor: pointer;
  background-color: rgba(0,0,0,0.15);
}

.winner {
  cursor: pointer;
  color: #333 !important;
  background-color: #10c121;
}

.toolbar {
	top: 0;
  right: 0;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 11;
	display: block;
	text-align: right;
  position: absolute;
	background-color: transparent;
}

.toolbar div {
	padding: 0;
  width: 42px;
  height: 42px;
	cursor: pointer;
	line-height: 42px;
	text-align: center;
	background-color: transparent;
}

.toolbar div svg {
	fill: #777777;
	pointer-events: none;
	vertical-align: middle;
}

@media (max-width: 350px) {
  input[type="button"] {
    font-size: 18px;
  }
  .toolbar {
    display: none;
  }
  .controls {
    padding: 0 3px;
  }
  .info, .button {
    float: none;
    width: 100%;
    max-width: unset;
    text-align: center;
  }
  .info input[type="text"] {
    width: 36px;
  }
  .button {
    margin-bottom: 4px;
  }
  .button input[type="button"] {
    width: 100%;
    max-width: unset;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}